=horiz-list-item($margin: 1em, $remove-top-bottom-margins: true)
  +no-bullet
  display: inline-block
  @if $remove-top-bottom-margins
    margin-top: 0
    margin-bottom: 0
  margin-right: $margin

  &:last-of-type
    margin-right: 0