#header-wrapper
  +background-image(linear-gradient(left, $color-header-gradient-start, $color-header-gradient-end))

#header-wrapper-inner
  background:     url("../images/header-glow.png") no-repeat scroll center bottom $color-header-background
  margin-bottom:  2px

#header
  margin-top:     0
  margin-bottom:  0
  padding-top:    $vertical-margin / 2
  padding-bottom: $vertical-margin / 2

  .block
    margin-bottom: 0

    .content
      @extend %invert-colors