.container
  +container
  +dev-background
  margin-top:     $vertical-margin / 2
  margin-bottom:  $vertical-margin / 2

  max-width:      bp-width($number-of-breakpoints + 1)


  @for $bp-number from 1 through $number-of-breakpoints
    +at-bp($bp-number)
      $custom-grid-padding: gutter()/2
      padding-left:   $custom-grid-padding
      padding-right:  $custom-grid-padding
      +dev-background