// Concept: http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/
//
// Setting padding on .container-wrapper will be impossible

#page
  display:  table
  width:    100%

html, body, #page
  height:   100%

.container-wrapper
  display:  table-row
  height:   1px
  overflow: hidden

#main-wrapper
  height:   auto