/* line 1, ../sass/partials/design/regions/_ie-only.sass */
#ie-only-wrapper {
  background-color: lightgoldenrodyellow;
}
/* line 5, ../sass/partials/design/regions/_ie-only.sass */
#ie-only-wrapper h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
