@charset "UTF-8";
/* line 10, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/toolkit-0.2.5/stylesheets/toolkit/_border-box.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/toolkit-0.2.5/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 17, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/styleguide/_colors.sass */
html {
  color: #51565b;
  background-image: url("../images/noise.png");
}

/* line 6, ../sass/partials/styleguide/_colors.sass */
a, a:visited {
  color: #37b2d1;
}
/* line 9, ../sass/partials/styleguide/_colors.sass */
a:hover {
  color: #f858ef;
}

/* line 13, ../sass/partials/styleguide/_colors.sass */
thead .formatted tr, thead article tr, #header .block .content, #subheader .content, #footer-wrapper .content {
  color: #d7d7d7;
}
/* line 17, ../sass/partials/styleguide/_colors.sass */
thead .formatted tr a, thead article tr a, #header .block .content a, #subheader .content a, #footer-wrapper .content a, thead .formatted tr a:visited, thead article tr a:visited, #header .block .content a:visited, #subheader .content a:visited, #footer-wrapper .content a:visited {
  color: white;
}
/* line 19, ../sass/partials/styleguide/_colors.sass */
thead .formatted tr a:hover, thead article tr a:hover, #header .block .content a:hover, #subheader .content a:hover, #footer-wrapper .content a:hover {
  color: #f858ef;
}

/* line 1, ../sass/partials/styleguide/_typography.sass */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 4, ../sass/partials/styleguide/_typography.sass */
.formatted, article {
  line-height: 1.1em;
}
/* line 8, ../sass/partials/styleguide/_typography.sass */
.formatted p, .formatted li, article p, article li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 12, ../sass/partials/styleguide/_typography.sass */
.formatted li, article li {
  margin-left: 2em;
  text-indent: -1em;
}
/* line 13, ../sass/partials/styleguide/_typography.sass */
.formatted li:before, article li:before {
  content: "—";
  position: relative;
  left: -1em;
}
/* line 21, ../sass/partials/styleguide/_typography.sass */
.formatted b, .formatted strong, article b, article strong {
  font-weight: bold;
}
/* line 24, ../sass/partials/styleguide/_typography.sass */
.formatted em, .formatted i, article em, article i {
  font-style: italic;
}
/* line 27, ../sass/partials/styleguide/_typography.sass */
.formatted u, article u {
  text-decoration: underline;
}
/* line 30, ../sass/partials/styleguide/_typography.sass */
.formatted sub, article sub {
  vertical-align: sub;
  font-size: smaller;
}
/* line 34, ../sass/partials/styleguide/_typography.sass */
.formatted sup, article sup {
  vertical-align: super;
  font-size: smaller;
}
/* line 38, ../sass/partials/styleguide/_typography.sass */
.formatted small, article small {
  font-size: smaller;
}
/* line 41, ../sass/partials/styleguide/_typography.sass */
.formatted pre, article pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
/* line 47, ../sass/partials/styleguide/_typography.sass */
.formatted pre, .formatted code, .formatted kbd, .formatted samp, article pre, article code, article kbd, article samp {
  font-family: "Courier New", Courier, monospace;
}
/* line 51, ../sass/partials/styleguide/_typography.sass */
.formatted tr:nth-child(odd), article tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 53, ../sass/partials/styleguide/_typography.sass */
.formatted tr:nth-child(end), article tr:nth-child(end) {
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 55, ../sass/partials/styleguide/_typography.sass */
thead .formatted tr, thead article tr {
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 67, ../sass/partials/styleguide/_typography.sass */
.formatted h1, article h1 {
  font-size: 1.8em;
}
/* line 67, ../sass/partials/styleguide/_typography.sass */
.formatted h2, article h2 {
  font-size: 1.68em;
}
/* line 67, ../sass/partials/styleguide/_typography.sass */
.formatted h3, article h3 {
  font-size: 1.56em;
}
/* line 67, ../sass/partials/styleguide/_typography.sass */
.formatted h4, article h4 {
  font-size: 1.44em;
}
/* line 67, ../sass/partials/styleguide/_typography.sass */
.formatted h5, article h5 {
  font-size: 1.32em;
}
/* line 67, ../sass/partials/styleguide/_typography.sass */
.formatted h6, article h6 {
  font-size: 1.2em;
}
/* line 72, ../sass/partials/styleguide/_typography.sass */
.formatted h1, .formatted h2, .formatted h3, .formatted h4, .formatted h5, .formatted h6, article h1, article h2, article h3, article h4, article h5, article h6 {
  line-height: 1.1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* line 1, ../sass/partials/styleguide/_lists_menus.sass */
li.expanded, li.collapsed, li.leaf {
  padding: 0;
}

/* line 6, ../sass/partials/styleguide/_lists_menus.sass */
ul.menu li {
  margin: 1em 0;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 10, ../sass/partials/styleguide/_lists_menus.sass */
ul.menu a.active {
  display: inline-block;
  padding: 0.2em;
  margin: -0.2em;
  background-color: #37b2d1;
  color: white;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 1, ../sass/partials/layout/_container.sass */
.container {
  *zoom: 1;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 1400px;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 400px) {
  /* line 1, ../sass/partials/layout/_container.sass */
  .container {
    padding-left: 8.82353%;
    padding-right: 8.82353%;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  /* line 1, ../sass/partials/layout/_container.sass */
  .container {
    padding-left: 4.05405%;
    padding-right: 4.05405%;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* line 1, ../sass/partials/layout/_container.sass */
  .container {
    padding-left: 2.63158%;
    padding-right: 2.63158%;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 1, ../sass/partials/layout/_container.sass */
  .container {
    padding-left: 1.94805%;
    padding-right: 1.94805%;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 1, ../sass/partials/layout/_container.sass */
  .container {
    padding-left: 1.54639%;
    padding-right: 1.54639%;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/partials/layout/_container.sass */
  .container {
    padding-left: 1.28205%;
    padding-right: 1.28205%;
  }
}

/* line 5, ../sass/partials/layout/_sticky-footer.sass */
#page {
  display: table;
  width: 100%;
}

/* line 9, ../sass/partials/layout/_sticky-footer.sass */
html, body, #page {
  height: 100%;
}

/* line 12, ../sass/partials/layout/_sticky-footer.sass */
.container-wrapper {
  display: table-row;
  height: 1px;
  overflow: hidden;
}

/* line 17, ../sass/partials/layout/_sticky-footer.sass */
#main-wrapper {
  height: auto;
}

@media (min-width: 600px) and (max-width: 800px) {
  /* line 3, ../sass/partials/layout/blocks/_phone.sass */
  .block.phone {
    width: 29.82456%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 3, ../sass/partials/layout/blocks/_phone.sass */
  .block.phone {
    width: 22.07792%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 3, ../sass/partials/layout/blocks/_phone.sass */
  .block.phone {
    width: 17.52577%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 3, ../sass/partials/layout/blocks/_phone.sass */
  .block.phone {
    width: 14.52991%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  /* line 1, ../sass/partials/layout/blocks/_site-title.sass */
  .block.site-title {
    width: 64.91228%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 1, ../sass/partials/layout/blocks/_site-title.sass */
  .block.site-title {
    width: 74.02597%;
    float: left;
    margin-right: 3.8961%;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 1, ../sass/partials/layout/blocks/_site-title.sass */
  .block.site-title {
    width: 79.38144%;
    float: left;
    margin-right: 3.09278%;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../sass/partials/layout/blocks/_site-title.sass */
  .block.site-title {
    width: 82.90598%;
    float: left;
    margin-right: 2.5641%;
  }
}

/* line 15, ../sass/partials/layout/regions/_main.sass */
#main .block {
  margin-bottom: 1em;
}

@media (min-width: 800px) and (max-width: 1000px) {
  /* line 2, ../sass/partials/layout/regions/_sidebar-first.sass */
  body.one-sidebar #sidebar-first {
    width: 29.82456%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 2, ../sass/partials/layout/regions/_sidebar-first.sass */
  body.one-sidebar #sidebar-first {
    width: 22.07792%;
    float: left;
    margin-right: 3.8961%;
  }
}
@media (min-width: 1200px) {
  /* line 2, ../sass/partials/layout/regions/_sidebar-first.sass */
  body.one-sidebar #sidebar-first {
    width: 17.52577%;
    float: left;
    margin-right: 3.09278%;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-first.sass */
  body.two-sidebars #sidebar-first {
    width: 45.94595%;
    float: left;
    margin-right: 8.10811%;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-first.sass */
  body.two-sidebars #sidebar-first {
    width: 45.94595%;
    float: left;
    margin-right: 8.10811%;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-first.sass */
  body.two-sidebars #sidebar-first {
    width: 45.94595%;
    float: left;
    margin-right: 8.10811%;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-first.sass */
  body.two-sidebars #sidebar-first {
    width: 22.07792%;
    float: left;
    margin-right: 3.8961%;
    margin-left: -77.92208%;
  }
}
@media (min-width: 1200px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-first.sass */
  body.two-sidebars #sidebar-first {
    width: 17.52577%;
    float: left;
    margin-right: 3.09278%;
    margin-left: -82.47423%;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  /* line 7, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-first #content {
    margin-bottom: 1em;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* line 7, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-first #content {
    margin-bottom: 1em;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 7, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-first #content {
    margin-bottom: 1em;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 7, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-first #content {
    width: 64.91228%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 7, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-first #content {
    width: 74.02597%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 7, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-first #content {
    width: 79.38144%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  /* line 19, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-second #content {
    margin-bottom: 1em;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* line 19, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-second #content {
    margin-bottom: 1em;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 19, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-second #content {
    margin-bottom: 1em;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 19, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-second #content {
    width: 64.91228%;
    float: left;
    margin-right: 5.26316%;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 19, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-second #content {
    width: 74.02597%;
    float: left;
    margin-right: 3.8961%;
  }
}
@media (min-width: 1200px) {
  /* line 19, ../sass/partials/layout/regions/_content.sass */
  body.one-sidebar.sidebar-second #content {
    width: 79.38144%;
    float: left;
    margin-right: 3.09278%;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  /* line 32, ../sass/partials/layout/regions/_content.sass */
  body.two-sidebars #content {
    width: 100%;
    float: left;
    margin-right: 8.10811%;
    margin-bottom: 1em;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 32, ../sass/partials/layout/regions/_content.sass */
  body.two-sidebars #content {
    width: 100%;
    float: left;
    margin-right: 8.10811%;
    margin-bottom: 1em;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 32, ../sass/partials/layout/regions/_content.sass */
  body.two-sidebars #content {
    width: 100%;
    float: left;
    margin-right: 8.10811%;
    margin-bottom: 1em;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 32, ../sass/partials/layout/regions/_content.sass */
  body.two-sidebars #content {
    width: 48.05195%;
    float: left;
    margin-right: 3.8961%;
    margin-left: 25.97403%;
  }
}
@media (min-width: 1200px) {
  /* line 32, ../sass/partials/layout/regions/_content.sass */
  body.two-sidebars #content {
    width: 58.76289%;
    float: left;
    margin-right: 3.09278%;
    margin-left: 20.61856%;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  /* line 2, ../sass/partials/layout/regions/_sidebar-second.sass */
  body.one-sidebar #sidebar-second {
    width: 29.82456%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 2, ../sass/partials/layout/regions/_sidebar-second.sass */
  body.one-sidebar #sidebar-second {
    width: 22.07792%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 2, ../sass/partials/layout/regions/_sidebar-second.sass */
  body.one-sidebar #sidebar-second {
    width: 17.52577%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-second.sass */
  body.two-sidebars #sidebar-second {
    width: 45.94595%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-second.sass */
  body.two-sidebars #sidebar-second {
    width: 45.94595%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-second.sass */
  body.two-sidebars #sidebar-second {
    width: 45.94595%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-second.sass */
  body.two-sidebars #sidebar-second {
    width: 22.07792%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 8, ../sass/partials/layout/regions/_sidebar-second.sass */
  body.two-sidebars #sidebar-second {
    width: 17.52577%;
    float: right;
    margin-right: 0;
  }
}

/* line 1, ../sass/partials/design/regions/_header.sass */
#header-wrapper {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f858ef), color-stop(100%, #ffe413));
  background-image: -webkit-linear-gradient(left, #f858ef, #ffe413);
  background-image: -moz-linear-gradient(left, #f858ef, #ffe413);
  background-image: -o-linear-gradient(left, #f858ef, #ffe413);
  background-image: linear-gradient(left, #f858ef, #ffe413);
}

/* line 4, ../sass/partials/design/regions/_header.sass */
#header-wrapper-inner {
  background: url("../images/header-glow.png") no-repeat scroll center bottom #2a2d30;
  margin-bottom: 2px;
}

/* line 8, ../sass/partials/design/regions/_header.sass */
#header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
/* line 14, ../sass/partials/design/regions/_header.sass */
#header .block {
  margin-bottom: 0;
}

/* line 1, ../sass/partials/design/regions/_subheader.sass */
#subheader-wrapper {
  background: url("../images/black-1x2px.png") repeat-x scroll center bottom #1d2023;
}

@media (min-width: 600px) {
  /* line 4, ../sass/partials/design/regions/_subheader.sass */
  #subheader {
    margin-bottom: 0;
  }
}

/* line 2, ../sass/partials/design/regions/_content.sass */
#content h1#page-title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.8em;
}

/* line 1, ../sass/partials/design/regions/_footer.sass */
#footer-wrapper {
  background: url("../images/footer-glow.png") no-repeat scroll center top #2a2d30;
}

/* line 2, ../sass/partials/design/blocks/_block.sass */
.block > h2 {
  font-size: 1.8em;
  font-family: Verdana, Geneva, sans-serif;
}

/* line 4, ../sass/partials/design/blocks/_phone.sass */
.block.phone .content {
  font-size: 1.2em;
}
@media (min-width: 600px) {
  /* line 4, ../sass/partials/design/blocks/_phone.sass */
  .block.phone .content {
    margin-top: 0.3em;
    text-align: right;
  }
}

/* line 2, ../sass/partials/design/blocks/_site-title.sass */
.block.site-title .content {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.8em;
  color: white !important;
}

/* line 3, ../sass/partials/design/blocks/_main-menu.sass */
#block-system-main-menu .menu-desc {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.5em;
}
/* line 8, ../sass/partials/design/blocks/_main-menu.sass */
#block-system-main-menu ul {
  margin-left: 0;
}
@media (max-width: 600px) {
  /* line 11, ../sass/partials/design/blocks/_main-menu.sass */
  #block-system-main-menu ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
  }
  /* line 14, ../sass/partials/design/blocks/_main-menu.sass */
  #block-system-main-menu ul li p {
    display: inline-block;
  }
  /* line 16, ../sass/partials/design/blocks/_main-menu.sass */
  #block-system-main-menu ul li p:first-child {
    margin-right: 1em;
  }
}
@media (min-width: 600px) {
  /* line 11, ../sass/partials/design/blocks/_main-menu.sass */
  #block-system-main-menu ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
    padding-bottom: 1.2em;
    background: url("../images/menu-arrow.png") no-repeat scroll center bottom transparent;
  }
  /* line 9, ../sass/partials/global/mixins/_horiz-list.sass */
  #block-system-main-menu ul li:last-of-type {
    margin-right: 0;
  }
  /* line 24, ../sass/partials/design/blocks/_main-menu.sass */
  #block-system-main-menu ul li p {
    margin: 0;
  }
}
