//body.no-sidebars
//body.one-sidebar
//body.two-sidebars


body.one-sidebar.sidebar-first
  #content

    @for $bp-number from ($first-sidebar-size - $main-region-shift) through ($first-sidebar-size + $content-min-size - $main-region-shift)
      +at-bp($bp-number)
        margin-bottom: $vertical-margin / 2

    @for $bp-number from ($first-sidebar-size + $content-min-size - $main-region-shift) through $number-of-breakpoints
      +at-bp($bp-number, $bp-number + $main-region-shift)
        +span($bp-number + $main-region-shift - $first-sidebar-size omega)


body.one-sidebar.sidebar-second
  #content

    @for $bp-number from ($second-sidebar-size - $main-region-shift) through ($second-sidebar-size + $content-min-size - $main-region-shift)
      +at-bp($bp-number)
        margin-bottom: $vertical-margin / 2

    @for $bp-number from ($second-sidebar-size + $content-min-size - $main-region-shift) through $number-of-breakpoints
      $context: $bp-number + $main-region-shift
      +at-bp($bp-number, $context)
        +span($bp-number + $main-region-shift - $second-sidebar-size)


body.two-sidebars
  #content

    @for $bp-number from ($main-region-two-sidebars - $main-region-shift) through ($main-region-two-sidebars-and-content - $main-region-shift)
      $context: $main-region-two-sidebars
      +at-bp($bp-number, $context)
        +span($main-region-two-sidebars)
        margin-bottom: $vertical-margin / 2

    @for $bp-number from ($main-region-two-sidebars-and-content - $main-region-shift) through $number-of-breakpoints
      $context: $bp-number + $main-region-shift
      +at-bp($bp-number, $context)
        +span($bp-number - $main-region-two-sidebars + $main-region-shift)
        +push($first-sidebar-size, $context)