html
  color:            $color-main
  background-image: url("../images/noise.png")

a
  &, &:visited
    color:  $color-link

  &:hover
    color:  $color-link-hover


%invert-colors
  color:    $color-main-inverted

  a
    &, &:visited
      color: $color-link-inverted
    &:hover
      color: $color-link-hover