li.expanded, li.collapsed, li.leaf
  padding: 0

ul.menu

  li
    margin: 1em 0
    +no-bullet

  a.active
    display:          inline-block
    padding:          0.2em
    margin:           -0.2em
    background-color: $color-link
    color:            $color-link-inverted
    text-decoration:  none
    +border-radius