html
  font-family: $font-main

.formatted, article

  line-height:        1.1em

  p, li
    margin-top:       0.5em
    margin-bottom:    0.5em

  li
    &:before
      content:        "—"
      position:       relative
      left:           -1em

    margin-left:      2em
    text-indent:      -1em

  b, strong
    font-weight:      bold

  em, i
    font-style:       italic

  u
    text-decoration:  underline

  sub
    vertical-align:   sub
    font-size:        smaller

  sup
    vertical-align:   super
    font-size:        smaller

  small
    font-size:        smaller

  pre
    white-space:      pre
    white-space:      pre-wrap
    white-space:      pre-line
    word-wrap:        break-word

  pre, code, kbd, samp
    font-family:      $font-monospace

  tr
    &:nth-child(odd)
      background-color: rgba(black, 0.2)
    &:nth-child(end)
      background-color: rgba(black, 0.4)
    thead &
      background-color: rgba(black, 0.7)
      @extend %invert-colors

  $heading-min-size:    1.2em
  $heading-max-size:    1.8em
  $headings-numbers-list:       1 2 3 4 5 6
  //
  $headings-list:       null
  $total-headings:      length($headings-numbers-list)
  $heading-increment:   ($heading-max-size - $heading-min-size) / ($total-headings - 1)
  @each $heading in $headings-numbers-list
    h#{$heading}
      font-size:        $heading-max-size - ($heading-increment * (index($headings-numbers-list, $heading) - 1))

    // Building a list of heading tags
    $headings-list: append($headings-list, h#{$heading}, comma)
  #{$headings-list}
    line-height:        1.1em
    margin-top:         1em
    margin-bottom:      0.5em


