#block-system-main-menu

  .menu-desc
    font-size:  0.8em
    font-style: italic
    margin-top: 0.5em

  ul
    margin-left: 0

    li
      +to-bp(2)
        +no-bullet
        p
          display:        inline-block
          &:first-child
            margin-right: 1em

      +from-bp(3)
        +horiz-list-item(1em)
        padding-bottom:   1.2em
        background:       url("../images/menu-arrow.png") no-repeat scroll center bottom transparent

        p
          margin: 0